@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    
}

nav{
    display: flex;
    gap: 12em;
    align-items: center;
    justify-content: right;
    background-color: #ffffff;
    
    
    
}


.heading{
    list-style: none;
    display: flex;
    gap: 3em;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    margin-right: 2em;
   

}

#home{
    background-image: url('./asset/Waste\ Segregation.png');
    
    background-size: cover;
    width: 100%;
    height: 750px;
}

#binstatus{
    
    width: 100%;
    height: 700px;
    display: flex;
    margin-top: 2em;
    


}

h1{
    font-family: "Raleway", sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: rgb(83, 83, 83);
    margin-left: 1.6em;
}

a:link {
    text-decoration: none;
    
  }

a:hover {
    text-decoration: none;
    color: rgb(76, 213, 76);
}
a:visited {
    text-decoration: none;
    color: black;
  } 

footer{
    display: flex;
    gap: 12em;
    align-items: center;
    justify-content: center;
    background-color: rgba(251,246,241,255);
}

#contact{
    list-style: none;
    display: flex;
    gap: 1.5em;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
}

.dustbins{
    display: flex;
    flex-direction: row;
    gap: 10em;
    align-items: center;
    justify-content: center;
    margin-bottom: 15em;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1em;
    
    
}

/*dustbin codepen*/
.dustbin-icon {
    position: relative;
    top: 12em;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 12em;
    height: 14em;
    background: linear-gradient(90deg, #333 40%, transparent 40%);
    background-size: 2.8em;
    border-bottom: 1.6em solid #333;
    border-radius: 0 0 1em 1em;
    
    
}
.dustbin-icon:before {
    content: '';
    position: absolute;
    top: -3em;
    left: -1.5em;
    width: 14em;
    height: 2.2em;
    border: 0.6em solid #333;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 1em 1em 0 0;
    
}
.dustbin-icon:after {
    content: '';
    position: absolute;
    top: -5.1em;
    left: 3em;
    width: 5em;
    height: 1.5em;
    border-radius: 1em 1em 0 0;
    border-width: 0.6em;
    border-color: #333;
    border-style: solid;
    
}